.newPost {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 0;
    width: 50%;
    height: 98vh;
}

.createPost {
    display: flex;
    flex-direction: column;
    padding: 0em;
    width: 100%;
    align-items: center;
    margin-bottom: 0;
}

.createPost label {
    font-weight: bolder;
}

.createPost input {
    padding: 1em;
    margin: .5em;
    padding: .5em;
    font-size: 28px;
    width: 100%;
    background: #eee;
    border: 3px solid black;
    resize: none;
}


.createPost button {
    padding: 1.0em;
    font-size: 20px;
    color: white;
    background: #cd0631;
    width: 104%;
    margin-bottom: 1em;
}

.createPost button:hover {
    background: black;
}

.createPost h1 {
    margin-bottom: .25em;
}

@media (max-height: 786px) {
    .createPost h1 {
        font-size: 3em;
    }

    .createPost {
        /* background: blue; */
        height: 88vh;
        margin-top: 4em;
    }


    .createPost input {
        padding: .5em;
        font-size: 20px;
        margin: .55em;
    }

    .createPost button {
        padding: .6em;
        font-size: 18px;
        margin: .25em;
        width: 100%;
    }
}

@media (max-height: 940px) {}