.post {
    padding: 0 0 1em 0;
    border: black 5px solid;
    background: #eee;
    margin-bottom: 1.5em;
    text-align: center;
    font-weight: bold;
    width: 70%;
}

.post button {
    padding: .5em;
    font-size: 20px;
    margin: .25em;
}

.postContainer {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}



.edit {
    background: #638;
    color: white;

}

/* .edit:hover {
    background: #306;
    background: black;
} */

.delete {
    background: #cd0631;

    color: white;
}


h2 {
    font-size: 32px;
    /* width: 1000px; */
    bACKGROUND: BLACK;
    padding: 1em;
    color: white;
    text-shadow: 2px 2px 12px 12px #cd0631;
    margin-top: 0;
}

h3 {
    font-size: 26px;
}

.messageButton {
    background: #359;
    color: white;

}

.buttonContainer button:hover {
    background: black;
    color: white;
}

.postContainer h1 {
    margin-bottom: .2em;
    font-size: 3.5em;
}

@media (max-height: 780px) {
    .postContainer {
        margin-top: 12vh;
    }

    .postContainer h1 {
        /* margin-bottom: .25em; */
    }
}