@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


h1 {
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 3em;
    margin: 0;
    color: #cd0631;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    margin: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
    color: white;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li a {
    padding: 1em;
    font-family: 'Koulen', cursive;
    color: #ffffff;
    font-size: 1.3em;
    text-decoration: none;
}

nav ul li a:hover {
    color: #cd0631;
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}


body {
    background: #fff;
    overflow-x: hidden;
    margin-bottom: 0;
}

.body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

input {
    border: 3px solid black;
    background: #eee
}

p {
    font-size: 1.3em;
}